<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-1">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="d-flex justify-content-center align-items-center">
                {% if expenses %}
                <div class="chart-container" style="height:40vh; width:40vh">
                    <canvas id="spendchart"></canvas>
                </div>
                {% else %}
                <span class="m-4" style="height:30vh;width:30vh;border-radius:50%;background:grey;"></span>
                <span class="text-muted">No expenses logged</span>
                {% endif %}
            </div>
            <h3>{{ current_date|date:"F" }}</h3>
            <p class="text-muted">Total spend: {{ total_spend }} ({{ expenses|length }} logged)</p>
            <form action="set-budget" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="number" name="amount" class="form-control" id="amount" placeholder="Monthly Budget" value="{{ budget.amount }}">
                    <input type="text" size="5" name="currency" class="input-group-text" id="currency" value="{{ budget.currency|default:'ZAR' }}" />
                    <input type="submit" value="Set" class="btn btn-primary">
                </div>
            </form>
            {% if budget %}
            <div class="progress" role="progressbar">
                <div class="progress-bar" style="width: {{ budget_percentage }}%">{{ budget_percentage }}%</div>
            </div>
            {% endif %}
            {% if expenses %}
            <table class="table table-hover mt-2" style="max-height: 100vh; max-width: 100vw; overflow-y: scroll;">
                <caption>{{ current_date|date:"M" }}: {{ total_spend }}</caption>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ex in expenses %}
                    <tr>
                        <td class="text-center">{{ ex.date.day }}</td>
                        <td>{{ ex.description }}</td>
                        <td>{{ ex.amount }}</td>
                        <td>{{ ex.categoryName }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div style="height:50vh" class="d-flex justify-content-center align-items-center">
                <h4>No expenses this month</h4>
            </div>
            {% endif %}
            <nav aria-label="Expenses navigation" class="navbar-light">
                <ul class="pagination justify-content-center pt-3">
                  <li class="page-item">
                    <a class="page-link" href="/{{ prev_date.year }}/{{ prev_date.month }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>                        
                  </li>
                  <li class="page-item"><a class="page-link" href="/{{ prev_date.year }}/{{ prev_date.month }}">{{ prev_date|date:"M" }}</a></li>
                  <li class="page-item active"><a class="page-link" href="#">{{ current_date|date:"M" }}</a></li>
                  <li class="page-item"><a class="page-link" href="/{{ next_date.year }}/{{ next_date.month }}">{{ next_date|date:"M" }}</a></li>
                  <li class="page-item">
                    <a class="page-link" href="/{{ next_date.year }}/{{ next_date.month }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>                        
                  </li>
                </ul>
            </nav>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Log Expense</h5>
                    {% crispy expense_form %}
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<script>
const spendData = JSON.parse("{{ data|escapejs }}");
document.addEventListener("DOMContentLoaded", function(event) {
    const ctx = document.getElementById('spendchart');

    new Chart(ctx, {
    type: 'pie',
    data: {
        datasets: [{
            data: spendData.amounts,
            backgroundColor: spendData.colors
        }],
        labels: spendData.categories
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                display: true,
                position: "right"
            }
        }
    }
    });
})
</script>
{% endblock %}